/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.pidor {
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.img {
	background-position: center;
	width: 640px;
	height: 360px;
}
.text {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
