/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.player {
	display:             flex;
	margin-bottom:       20px;
	flex-wrap:           wrap;
	align-items:         stretch;
	justify-content:     space-around;
}
.thumbnail {
	background-position: center;
	background-repeat:   no-repeat;
	background-size:     cover;
	background-color:    #ffffff;
	height:              540px;
	width:               540px;
	box-shadow:          0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.audiopanel {
	margin:              5%;
	display:             flex;
	flex-basis:          30%;
	flex-grow:           99;
	flex-direction:      column;
	justify-content:     center;
}
.audioline {
	display:             flex;
	justify-content:     space-between;
	width:               100%;
}
.audioprogress {
	align-self:          stretch;
	display:             flex;
	background-color:    #aaa;
	border-radius:       2px;
	box-shadow:          0 2px 5px rgba(0, 0, 0, 0.25) inset;
	-webkit-appearance:  none;

	height:              20px;
	width:               100%;
}
